#canvas {
  display: block;
  margin: 0 auto;
  /* border: 1px solid red; */
  position: absolute;
}

#tip_warpper {
  position: absolute;
  user-select: none;
  font-family: "Times New Roman", Times, serif;
}

#tip_warpper > div {
  margin-top: 10px;
}
