canvas {
  display: block;
  margin: 0 auto;
  /* border: 1px solid red; */
  position: absolute;
}

#tip_warpper {
  position: absolute;
  user-select: none;
  font-family: "Times New Roman", Times, serif;
}

#tip_warpper>div {
  margin-top: 10px;
}

#fps {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  z-index: 3;
  user-select: none;
}