.basic_font {
    font-family: Arial, sans-serif;
}

.title {
    margin-left: auto;
    margin-right: auto;
    width: 240mm;
    border: 0px solid black;
    clear: both;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: justify;
}

.affiliations {
    margin-top: 0.5em;
    height: 1em;
    clear: both;
}

.affiliation {
    font-size: 1em;
    float: left;
    font-weight: bold;
    margin-left: 18%;
}

.affiliation a {
    color: #FFF;
    font-size: 1em;
    float: left;
    font-weight: bold;
    margin-left: 0;
}

.authors {
    height: 1.5em;
    clear: both;
}

.author {
    font-size: 1.2em;
    float: left;
    font-weight: bold;
    margin-left: 4.5%;
}

.author a {
    color: #FFF;
    font-size: 1em;
    float: left;
    font-weight: bold;
    margin-left: 0;
}

.author a:hover,
.affiliation a:hover {
    text-shadow: -0.05em -0.05em 0.1em #222;
}

.teaser {
    font-style: italic;
    margin-top: 3em;
}

.teaser img {
    width: 200mm;
}


.title_bar {
    margin: 0em;
    padding-top: 0.1em;
    height: 10em;
    background: linear-gradient(to bottom, rgba(232, 116, 0, 1), rgba(232, 116, 0, 0));
    /*background-color: #E87400;        */
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.1em #222;
}


.title_bar_gradient {
    height: 1em;
    background: linear-gradient(to bottom, rgba(232, 116, 0, 1), rgba(232, 116, 0, 0));
}

.supersc {
    position: relative;
    bottom: 0.6em;
    font-size: 0.7em;
    font-weight: normal;
}

.bibtex pre {
    font-family: Consolas, Inconsolata, monospace;
    white-space: pre-wrap;
}

.shadow {
    box-shadow: 2px 2px 4px #333;
}

.downloads img {
    width: 5em;
}

.downloads td {
    width: 6em;
    padding: 0 0 0 2em;
    vertical-align: bottom;
    text-align: center;
}

.file_types td {
    padding-top: 0.5em;
    text-align: center;
}

.comparisons td {
    padding: 0 0 0 2.5em;
}

.titles td {
    font-weight: bold;
    vertical-align: bottom;
}

.hline {
    margin: 4em 0 2em 0;
    height: 0.2em;
    background-color: #E87400;
}

.signature {
    font-size: 1.2em;
    font-weight: bold;
    float: right;
    margin-top: 0.5em;
}

a {
    text-decoration: none;
    /*color: #76006C;*/
    color: #E87400;
    font-weight: bold;
}

table.comp {
    border-collapse: collapse;
}

table.comp tr,
table.comp td {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

table.comp td:nth-child(2) {
    padding: 0 8px 0 9px !important;
}

.comp {
    margin: auto;
}

.spacer {
    height: 50px;
}