#canvas-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000 no-repeat center center fixed;
  background-size: cover;
  font-weight: 700;
}

#canvas-wrapper #canvas {
  width: 100vw;
  height: 100vh;
}

#tip_warpper {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

#tip_warpper > #set_text {
  font-size: 20px;
}
