body {
  background-color: black;
  height: 100%;
}

a {
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  display: block;
  margin-top: 10px;
}

#warpper {
  margin-top: 100px;
  height: 100%;
  text-align: left;
  width: 400px;
}

sup {
  color: red;
}
